[submodule "ejabberd"]
    path = ejabberd
    url = https://github.com/processone/ejabberd.git
    ignore = dirty
[submodule "erlcloud"]
    path = erlcloud
    url = git@github.com:Stxbr/erlcloud.git
    ignore = dirty
[submodule "mochiweb"]
    path = mochiweb
    url = git@github.com:ZachGoldberg/mochiweb.git
    ignore = dirty
[submodule "erlport"]
	path = erlport
	url = https://github.com/hdima/erlport.git
